html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.Canvas2DStyle, .Canvas3DStyle, .ControlsStyle, .TableStyle {
  border: 1px solid  darkblue;
  position: absolute; 
   width: 500px; 
}


.Canvas2DStyle {
  top: 200px;
  left: 100px;


}


.Canvas3DStyle {
  top: 200px;
  left: 600px;

}


.ControlsStyle {
  top: 100px;
  left: 100px;
  height: 100px;

}


.TableStyle {
  top: 600px;
  left: 100px;
  width: 1000px;

}




